.header {
    display:flex;
    justify-content: center;
    border-bottom: 1px solid #e66465;
    align-items: center;
}

.loggedIn {
    justify-content: space-between;
  }

.header__logo {
    height: 40px;
    object-fit: contain;
}

.header__icon {
    padding:20px;
}