.profileContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #76b0ff;
  border-color: #e7f5ff;
  border: 10px solid #F0F0F0;
  /* Add a thick white border */
}


/* Rest of your styles */


.profileHeader {
  text-align: center;
  padding: 20px;
}

.profileHeader h1 {
  font-size: 24px;
  margin: 0;
  color: darkslateblue;
}

.profileHeader p {
  color: #132b41;
  margin: 5px 0;
}

.profileHeader img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 10px;
  border: 5px solid #F0F0F0;
  /* Tinder red */
  background-color: #f6dbfc;
}

.profileContainer button {
  background-color: #f44336;
  /* Tinder red */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.profileContainer button:hover {
  background-color: darkred;
  /* Slightly darker red on hover */
}

.profileDetailes h2 {
  font-size: 20px;
  margin-top: 20px;
}

.profileDetailes div {
  margin: 10px 0;
}

.profileDetailes strong {
  color: darkslateblue;
  /* Tinder red */
  margin-right: 5px;
}


.profileDetailes div {
  margin: 10px 10px 10px 10px;
  padding: 10px;
  border: 3px solid #F0F0F0;
  /* Add a white border */
  display: inline-block;
  /* Make the divs inline-block to fit content */
  border-radius: 10px;
  /* Add round corners */
  background-color: rgba(255, 255, 255, 0.1);
  /* Add a subtle white background color */
  font-weight: bold;
}