.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loggedIn {
  justify-content: space-between;
}

.header__logo {
  height: 120px;
  /* Increase the height to make the logo larger */
  width: auto;
  /* Let the width adjust automatically */
  object-fit: contain;
}

.header__icon {
  padding: 20px;
}